<div class="container-fluid footer text-white">
    <div class="row pb-5 pb-0 text-white">
        <div class="col-lg-6 order-md-1 col-lg-4 order-lg-1 text-center p-5">
            <ul>
                <li> <a href="#" class="text-light"> Haut de page </a> </li>
                <li> <a href="#" class="text-light"> Projets </a>  </li>
                <li> <a href="#" class="text-light"> Compétences </a>  </li>
                <li> <a href="#" class="text-light"> à propos </a>  </li>
                <li> <a href="#" class="text-light"> Contact </a> </li>
            </ul>
        </div>
        <div class="col-lg-6 order-md-1 col-lg-4 order-lg-1 text-center p-5 endfooter">
            <h3> Coordonnées </h3>
            <hr class="m-1 text-white">
            <ul>
                <li> {{contact_name}} </li>
                <li> {{contact_address}} </li>
                <li> {{contact_postal}} </li>
                <li> {{contact_city}} </li>
                <li> {{contact_phone}} </li>
                <li> {{contact_email}} </li>
            </ul>
        </div>        
    </div>
    <div class="row justify-content-center">
        <div class="col-12 order-md-3 col-lg-4 order-lg-2 text-center">
            <h3> Valentin WALLAERT </h3>
            <h4> Développeur junior </h4>
        </div>
    </div>
    <footer class="row justify-content-center pt-5">
        <p class="text-center"> Copyright &copy; {{"now"|date("Y") }} - Valentin WALLAERT </p>
    </footer>
</div>